<div class="container">

    <h1>/r/longboarding Community Reviews</h1>
    <% if current_user %>
        <p>Logged in as <%= current_user %></p>

        <%= form_tag('/reviews', method: "post") do %>
            <%= text_field_tag(:name) %>
            <%= submit_tag("Suggest") %>
        <% end %>
    <% else %>
        <p><a href='/auth/reddit'>Log in with Reddit</a> to vote and suggest reviews</p>
    <% end %>

    <h2>Suggested Reviews</h2>
    <div id="reviews">
        <% @reviews.each do |review| %>
            <div class="review" data-id="<%= review.id %>">
                <span class="valign-middle small-margin">
                    <% if current_user %>
                        <i class="upvote icon-up-open center
                                  <% if current_user.upvoted? review %>upvoted<% end %>">
                        </i>
                    <% end %>
                    <span class="valign-middle small-text">
                        <%= review.score %> point(s)
                    </span>
                </span>
                <span class="small-margin big-text valign-middle">
                    <%= review.name %>
                </span>
                <span class="valign-middle align-right small-text">
                    Suggested by <%= review.user %>
                </span>
            </div>
        <% end %>
    </div>

</div>