<div class="container">

    <h1>/r/longboarding Community Reviews</h1>
    <% if current_user %>
        <p>Logged in as <%= current_user %></p>

        <%= form_tag('/reviews', method: "post") do %>
            <%= text_field_tag(:name) %>
            <%= submit_tag("Suggest") %>
        <% end %>
    <% else %>
        <p><a href='/auth/reddit'>Log in with Reddit</a> to vote and suggest reviews</p>
    <% end %>

    <h2>Suggested Reviews</h2>
    <div id="reviews">
        <% @reviews.each do |review| %>
            <div class="review">
                <% if current_user %><i class="small-margin icon-up-open"></i><% end %>
                <%= review.name %>
            </div>
        <% end %>
    </div>

</div>